html {
    background-color: #ffffcc;
}

.stat__button {
    width: 90%;
    height: 3em;
}

.stat__div {
    width: 90%;
    margin: 1% 5% 0% 5%;
}

.stat__cell {
    height: 1.5em;
    width: 200px;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

.stat__cell_style_attribute {
    background-color: #4040ff;
    font-weight: bold;
}

.stat__cell_style_combat {
    background-color: #8080ff;
    font-weight: bold;
}

.stat__cell_style_cost {
    background-color: #c080c0;
    font-weight: bold;
}

.stat__cell_style_cost-body {
    height: 2em;
    width: 200px;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

.stat__cell_style_power {
    background-color: #60ff60;    
    font-weight: bold;
}

.stat__cell_style_preset {
    height: 3em;
    width: 200px;
    
    text-align: center;
}

.stat__cell_style_skill {
    background-color: #c0c0ff;
    font-weight: bold;
}

.stat__table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 1em;
    background-color: white;
}

.stat__table_style_preset {
    background-color: #ffffcc;
    width: 100%;
    font-size: 1em;
}